{# Playground Theme: override common/cart — edit markup and styles here. #}

<button type="button" class="btn btn-primary dropdown-toggle" id="header-cart-feather-label" data-bs-toggle="collapse" data-bs-target="#header-cart-feather" aria-expanded="false" aria-controls="header-cart-feather">

	<i class="fa-solid fa-cart-shopping"></i>
	<span class="d-none d-lg-inline ms-1">{{ text_items }}</span>
</button>
