{# Playground Theme: override common/search — edit markup and styles here. #}

<div class="input-group" id="search">
	<input class="form-control" placeholder="{{ text_search }}" value="{{ search }}" name="search" type="text" aria-label="{{ text_search }}" aria-describedby="search-button"/>
	<button class="btn btn-primary" data-lang="{{ language }}" type="button">
		<i class="fa-solid fa-magnifying-glass"></i>
	</button>
</div>
